<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    <title>Layout Design</title>
</head>
<body>
    
    <header class="row-box box-center">

        <nav class="container row-box">
            <div class="brand row-box">
                <a href="#" class="header-logo">
                    <img src="images/sb-logo.svg" alt="LOGO">
                </a>
                <h2>Start Bootstrap</h2>
            </div>
            <div class="nav-bar row-box">
                <input class = "menu-btn" type="checkbox" id="menu-btn"/>
                <label class = "menu-icon" for = "menu-btn">
                    <span class="nav-icon"></span>
                </label>

                <div class = "menu">
                    <div class="menu-link row-box" id="themes">
                        <a href='#themes'>Themes<i class="fas fa-angle-right nav-arrow"></i></a>
                        <div class='sub-menu column-box'>
                            <div class="sub-menu-item row-box text-left">
                                <a href='#'> <i class="fas fa-paint-brush"></i>Browse All themes</a>
                             </div>
                             <div class="sub-menu-item row-box text-left">
                                <a href='#'> <i class="fas fa-tags"></i>Pro Bootstrap Themes </a>
                             </div>
                             <p class="sub-menu-header row-box text-left">Theme Categories:</p>
                             <div class="sub-menu-item row-box text-left">
                                 <a href='#'>Admin & Dashboard</a>
                             </div>
                             <div class="sub-menu-item row-box text-left">
                                 <a href='#'>Landing Pages</a>
                             </div>
                             <div class="sub-menu-item row-box text-left">
                                 <a href='#'>Buisness & Corporate</a>
                             </div>
                             <div class="sub-menu-item row-box text-left">
                                 <a href='#'>Portfolio & Resume</a>
                             </div>
                             <div class="sub-menu-item row-box text-left">
                                 <a href='#'>Blog</a>
                             </div>
                        </div>
                    </div>
                    <div class="menu-link row-box" id="templates">
                        <a href='#templates'>Templates<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="menu-link row-box" id="bundles">
                        <a href='#bundles'>Bundles<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="menu-link row-box" id="snippets">
                        <a href='#'>Snippets</a>
                    </div>
                    <div class="menu-link row-box" id="resources">
                        <a href='#resources'>Themes<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="menu-link row-box" id="blog">
                        <a href='#blog'>Blog</a>
                    </div>
                    <div class="menu-link row-box" id="log-in">
                        <a class="btn" id='#log-in'>Log In</a>
                    </div>
                </div>
            </div>
        </nav>
        
    </header>

    <section class="section-container-slanted row-box background-container">
        

    </section>
    









</body>
</html>