* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis',sans-serif;
}

.row-box {
    display: flex;
}

.column-box {
    display: flex;
    flex-direction: column;
}

.box-center {
    justify-content: center;
    align-content: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

header {
    display: flex;
    flex-direction: column;
    background: url(images/portfolio_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -120px;
    justify-content: center;
    align-content: center;
}

.header-container {
    background: rgba(250,250,250, .5);
}

.container {
    width: 90%;
    margin: auto;
}

.nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    z-index: 3;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    top: 0px;
}

.logo {
    height: auto;
    padding: 10px;
}

.menu{
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.menu li {
    list-style: none;
}

.menu li a {
    width: 100%;
    text-decoration: none;
    color: #777;
    padding: .5rem;
}

.menu li a:hover{
    color: red;
}

.nav-bar .menu-btn {
    display: none;
}

.nav-bar .menu-icon {
    border: 2px solid #ddd;
    padding: 10px;
    position: relative;
    position: absolute;
    top: .75rem;
    right: 1rem;
    border-radius: 10px;
}

.nav-bar .menu-icon .nav-icon {
    background: #888 ;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav-bar .menu-icon .nav-icon::before {
    background: #888 ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;    
    top: 5px;
    transition: all .2 ease-out;
}

.nav-bar .menu-icon .nav-icon::after {
    background: #888 ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;    
    top: -5px;
    transition: all .2 ease-out;
}

.header-content {
    padding-top: 225px;
    padding-bottom: 180px;
    position: relative;
}

.header-content p {
    color: #404040;
}


.square-box {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f73b56;
    transform: rotate(45deg);
    justify-self: center;
    align-self: center;
    margin: 12px;
    top: 17%;
    left: 45%;
}

.large {
    color: #010101;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 13px;
}

.small {
    font-size: 14px;
    color: #404040;
}

.line-item {
    margin: 10px 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

body {
    font-size: 14px;
}

.fas {
    color: #f73b56;
    font-size: 25px;
}

.header-scroll {
    padding-bottom: 40px;
}

.font-l {
    font-size: 25px;
}

.font-s {
    font-size: 14px;
}

.services-section {
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}

.section-header {
    padding: 60px 0px;
}

.section-content-container {
    width: 100%;
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.section-content {
    width: 30%;
}

.progress-title {
    height: 2px;
    width: 100%;
    background-color: #C5C5C5;
}

.progress-90{
    width: 90%;
    height: 100%;
    background-color: #2d3334;
}

.progress-60{
    width: 60%;
    height: 100%;
    background-color: #2d3334;
}

.progress-75{
    width: 75%;
    height: 100%;
    background-color: #2d3334;
}

.progress-95{
    width: 95%;
    height: 100%;
    background-color: #2d3334;
}


@media (max-width: 600px) {

    .menu {
        display: flex;
        flex-direction: column;
        background-color: #EDEDED;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-container {
        width: 100%;
    }

    .menu {
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .nav-bar .menu-btn:checked ~ .menu-container .menu {
        max-height:240px;
    }

}

@media only screen and (min-width: 601px) {
    .menu-icon {
        display: none;
    }

}