* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis',sans-serif;
}

.row-box {
    display: flex;
}

.column-box {
    display: flex;
    flex-direction: column;
}

.box-center {
    justify-content: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
    align-content: space-between;
}

.space-even {
    justify-content: space-evenly;
    align-content: space-around;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

header {
    display: flex;
    flex-direction: column;
    background: url(images/portfolio_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -120px;
    justify-content: center;
    align-content: center;
}

.header-container {
    background: rgba(250,250,250, .5);
}

.container {
    width: 90%;
    margin: auto;
}

.nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    z-index: 3;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    top: 0px;
}

.logo {
    height: auto;
    padding: 10px;
}

.menu{
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.menu li {
    list-style: none;
}

.menu li a {
    width: 100%;
    text-decoration: none;
    color: #777;
    padding: .5rem;
    display: block;
}

.menu li a:hover{
    color: red;
}

.nav-bar .menu-btn {
    display: none;
}

.nav-bar .menu-icon {
    border: 2px solid #ddd;
    padding: 10px;
    position: relative;
    position: absolute;
    top: .75rem;
    right: 2rem;
    border-radius: 10px;
}

.nav-bar .menu-icon .nav-icon {
    background: #888 ;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav-bar .menu-icon .nav-icon::before {
    background: #888 ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;    
    top: 5px;
    transition: all .2 ease-out;
}

.nav-bar .menu-icon .nav-icon::after {
    background: #888 ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;    
    top: -5px;
    transition: all .2 ease-out;
}

.header-content {
    padding-top: 225px;
    padding-bottom: 180px;
    position: relative;
}

.header-content p {
    color: #404040;
}


.square-box {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f73b56;
    transform: rotate(45deg);
    justify-self: center;
    align-self: center;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.large {
    color: #010101;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 13px;
}

.small {
    font-size: 14px;
    color: #404040;
}

.line-item {
    margin: 10px 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

body {
    font-size: 14px;
}

.fas {
    color: #f73b56;
    font-size: 25px;
}

.header-scroll {
    padding-bottom: 40px;
}

.font-xl {
    font-size: 40px;
    font-weight: bold;
}

.font-l {
    font-size: 25px;
}

.font-m {
    font-size: 16px;
}

.font-s {
    font-size: 14px;
}

.services-section {
    padding: 100px 0;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.services-content{
    width: 20%;
}

.section-header {
    padding: 60px 0px;
}

.section-content-container {
    width: 100%;
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.section-content {
    width: 30%;
}


.progress-title {
    height: 2px;
    width: 100%;
    background-color: #C5C5C5;
}

.progress-90{
    width: 90%;
    height: 100%;
    background-color: #2d3334;
}

.progress-60{
    width: 60%;
    height: 100%;
    background-color: #2d3334;
}

.progress-75{
    width: 75%;
    height: 100%;
    background-color: #2d3334;
}

.progress-95{
    width: 95%;
    height: 100%;
    background-color: #2d3334;
}

.testimony-section {
    padding: 50px 0px 100px 0px;
}

.change-box {
    margin: 20px 0px;
}

.change-icon {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
}

#change-btn {
    display: none;
}

.testimony-one {
    max-width: 100%;
    height: 100px;
    overflow: hidden;
    transition:  max-width .5s ease-in-out;
}

.testimony-two {
    max-width: 0px;
    height: 100px;
    overflow: hidden;
    display: none;
    transition:  max-width .5s ease-in-out;
}

#change-btn:checked ~ .testimony-one{
    max-width: 0px;
    display: none;
}

#change-btn:checked ~ .testimony-two{
    max-width: 100%;
    display: block;
}

.projects-section {
    background: url(images/portfolio_bg.jpg);
    background-attachment: fixed !important;
    background-repeat: repeat;
}

.projects-section-container {
    background: rgba(71,71,71,.8);
}

.site-image {
    position: relative;
    top: -50px;
    width: 60%;
    margin-left: auto;
}

.site-image img {
    width: 100%;
}

.white-text {
    color: #fff;
}

.works-section {
    padding: 50px 0px;
}

.works-section-content {
    padding-top: 50px;
}

.works-display-section {
    width: 33.2%;
    margin: auto;
}

.banner {
    position: relative;
    padding: 2px;
}

.banner img {
    width: 100%;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(247,77,101,.9);
    top: 0px;
    left: 0px;
    padding: 10px;
    opacity: 0;
    transition: all .5s ease-out;
}

.banner:hover .banner-overlay {
    opacity: 0.8;
}

.banner-overlay a {
    position: absolute;
    top: 5%;
    right: 20px;
    text-decoration: none;
    line-height: 1.42857143;
}

.banner-overlay h2 {
    position: absolute;
    bottom: 28px;
    left: 20px;
    letter-spacing: 3px;
}

.banner-overlay h4 {
    position: absolute;
    bottom: 11px;
    left: 20px;
}

.wrap-box {
    flex-wrap: wrap;
}

.call-for-action-section {
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
}

.call-for-action {
    width: 70%;
}

.action {
    width: 30%;
}

.action-btn{
    background-color: #000;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    display: block;
    margin: auto;
}

.action-btn:hover{
    background-color: #f398a8;
}

.contact-section {
    padding: 70px 0px;
}

.contact-section-header {
    width: 80%;
    padding-bottom: 50px;
}

.contact-details-container  {
    width: 25%;
}

.contact-details {
    padding: 20px 0px;
}

.form {
    width: 75%;
    background-color: #f1f1f1;
    padding: 30px;
}

.form-row {
    width: 48%;
    align-content: space-between;
}

.form-text-box,.form-text-area {
    padding: 10px;
    width: auto;
    box-sizing: border-box;
    display: block;
    border: none;
}

.form-submit-btn {
    width: 100%;
    background: #f73b56;
    border-radius: 0px;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: all 1s;
    text-decoration: none;
    text-align: center;
}

.form-submit-btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.contact-section-footer {
    padding: 50px 0px;
}

footer {
    background-color: #f1f1f1;
    padding-top: 50px;
    align-items: center;
}

footer img {
    max-width: 150px;
    align-self: center;
}

.fab{
    border: 1px solid #636363;
    color: #636363;
    border-radius: 50%;
    margin: 5px;;
    display: flex;
    text-align: center;
    line-height: 28px;
    transition: all 1s;
    padding: 6px;
}    

.fab:hover {
    color: #f73b56;
    border-color: #f73b56;
}

.social {
    margin: 75px 0px;
}

@media (max-width: 700px) {

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-bar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-container {
        width: 100%;
    }

    .menu {
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .nav-bar .menu-btn:checked ~ .menu-container .menu {
        max-height:300px;
    }

    .services-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .services-content, .section-content {
        padding: 25px 0px;
        width: auto;
    }

    .section-content-container {
        flex-direction: column;
    }

    .content-container {
        flex-direction: column;
    }

    .site-image {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: -10px;
        width: 80%;
    }

    .works-section-content, .contact-section-content, .form {
        flex-direction: column;
    }

    .works-display-section {
        width: 98%;
        margin: auto;
    }

    .call-for-action-section {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .call-for-action, .contact-details-container {
        width: 90%;
    }

    .action, .form {
        padding: 30px 0px;
        width: auto;
    }

    .form {
        justify-content: space-between;
        align-items: center;
    }

    .form-item {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 960px) {
    .menu-icon {
        display: none;
    }

    .services-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .services-content {
        padding: 30px 0px;
        width: auto;
    }
}

@media only screen and (min-width: 960px) {
    .menu-icon {
        display: none;
    }
}